#text{
     text-align: center;
    color: burlywood;
}
#texto{
    text-align: center;
    color:burlywood;
}
#informacion{
    text-align: center;
    text-decoration-color: darksalmon;
    color:burlywood;
}
#p{
    text-align: center;
}
#cuerpo{
    font-style: italic;
}